
.line3 {
  /*border: solid 1px red;*/
  height: 15.5%;
  width: 100%;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  zoom: 1;
  position: relative;
  /*
          &:after{
              content: ".";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
          }
          */ }
  .line3 .line31 {
    width: 11%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.3%;
    float: left;
    display: block; }
  .line3 .line32 {
    width: 22.2%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block; }
  .line3 .line33 {
    width: 23.4%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    position: relative;
    background: url(../images/4_2.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain; }
  .line3 .line33a {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center; }
  .line3 .line34 {
    width: 22.3%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    position: relative;
    background: url(../images/4_3.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain; }
  .line3 .line34a {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center; }
  .line3 .line35 {
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    width: 18.8%;
    margin-left: 80.4%;
    height: 134%;
    position: relative;
    bottom: 0px; }
  .line3 .line35a {
    position: absolute;
    left: 3%;
    top: 5%;
    width: 100%;
    height: 20%;
    line-height: 100%;
    font-weight: bold;
    color: #F00; }
  .line3 .line35b {
    position: absolute;
    left: 0%;
    top: 22.5%;
    width: 100%;
    height: 1%;
    background-color: #f47122; }
  .line3 .line35c {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%; }
  .line3 .line35c1 {
    position: absolute;
    left: 6%;
    top: 27.5%;
    width: 100%;
    height: 100%; }
  .line3 .line35c2 {
    position: absolute;
    left: 6%;
    top: 51.1%;
    width: 100%;
    height: 100%; }
  .line3 .line35c3 {
    position: absolute;
    left: 6%;
    top: 74.4%;
    width: 100%;
    height: 100%; }
  .line3 .ainline3 {
    color: #F00;
    font-size: 18px;
    font-weight: bold; }

@media only screen and (max-width: 480px) {
  .line3 {
    /*border: solid 1px red;*/
    /*min-height: 30%;*/
    height: 29%;
    width: 100%;
    zoom: 1; }
    .line3 .line31, .line3 .line32, .line3 .line33, .line3 .line34, .line3 .line35 {
      /*border: solid 1px blue;*/
      float: left;
      display: block;
      width: 98%;
      height: 19%;
      margin-top: 0.5%;
      margin-left: 1%; } }

/*# sourceMappingURL=line3.css.map */
=======
.line3 {
  /*border: solid 1px red;*/
  height: 14%;
  width: 100%;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  zoom: 1;
  position: relative;
  /*
          &:after{
              content: ".";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
          }
          */ }
  .line3 .line31 {
    width: 11%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.3%;
    float: left;
    display: block; }
  .line3 .line32 {
    width: 22.2%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block; }
  .line3 .line33 {
    width: 23.4%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    position: relative;
    background: url(../images/4_2.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain; }
  .line3 .line33a {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center; }
  .line3 .line33a1{
	position: absolute;
	width:100%;
	height:3%;
	background-color:#FF0000;
  }
  .line3 .line34 {
    width: 22.3%;
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    position: relative;
    background: url(../images/4_3.png);
    background-repeat: no-repeat;
    /*background-position:-875px -620px;*/
    background-size: contain; }
  .line3 .line34a {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center; }
  .line3 .line34a1{
	position: absolute;
	width:100%;
	height:3%;
	background-color:#FF0000;
  }
  .line3 .line35 {
    height: 100%;
    /*border: solid 1px blue;*/
    margin-left: 0.4%;
    float: left;
    display: block;
    width: 19.2%;
    margin-left: 80.4%;
    height: 134%;
    position: absolute;
    bottom: 0px; }
  .line3 .line35a {
    position: absolute;
    left: 8.5%;
    top: 13%;
    width: 80%;
    height: 20%;
    font-weight: bold;
	font-size:15px;
    color: #F00; }
  .line3 .line35a1{
	position: absolute;
	left: 5%;
    top: 13%;
    width: 1.2%;
    height: 8.5%;
	background-color:#FF0000;
  }
  .line3 .line35b {
    position: absolute;
    left: 2%;
    top: 25%;
    width: 98%;
    height: 1%;
    background-color: #f47122; }
  .line3 .line35c {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%; }
  .line3 .line35c1 {
    position: absolute;
    left: 6%;
    top: 27.5%;
    width: 100%;
    height: 100%; }
  .line3 .line35c2 {
    position: absolute;
    left: 6%;
    top: 51.1%;
    width: 100%;
    height: 100%; }
  .line3 .line35c3 {
    position: absolute;
    left: 6%;
    top: 74.4%;
    width: 100%;
    height: 100%; }
  .line3 .ainline3 {
    color: #F00;
    font-size: 18px;
    font-weight: bold; }

@media only screen and (max-width: 480px) {
  .line3 {
    border: solid 1px red;
    /*min-height: 30%;*/
    height: 29%;
    width: 100%;
    zoom: 1; }
    .line3 .line31, .line3 .line32, .line3 .line33, .line3 .line34, .line3 .line35 {
      border: solid 1px blue;
      float: left;
      display: block;
      width: 98%;
      height: 19%;
      margin-top: 0.5%;
      margin-left: 1%; } }
